<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sprawozdania PSSO | Hubert Siast</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
  <link rel="stylesheet" href="assets/vendor/font-awesome/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">
  <link rel="stylesheet" href="assets/vendor/prism/prism.css">
  <link rel="stylesheet" href="css/layout.css">
  <link rel="stylesheet" href="css/theme.css">  
</head>

<body class="bg-white">
  <header class="duik-header">
    <nav class="navbar navbar-expand-md fixed-top bg-white border-bottom text-dark py-2">
      <div class="d-flex justify-content-between">
        <button class="btn btn-link pl-0 d-md-none" type="button" data-toggle="collapse" data-target="#sidebar-nav" aria-controls="sidebar-nav"
          aria-expanded="true" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
            <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path>
          </svg>
        </button>
      </div>
    </nav>
  </header>
  <div class="container-fluid">
    <div class="row">