<nav class="col-md-3 col-lg-2 duik-sidebar border-md-right navbar-expand-md">
    <div class="collapse navbar-collapse border-bottom border-md-0" id="sidebar-nav">
        <div class="js-scrollbar duik-sidebar-sticky">
            <h5 class="duik-sidebar__heading">Wprowadzenie</h5>
            <ul class="duik-sidebar__nav">
                <li class="duik-sidebar__item"><a class="duik-sidebar__link" href="/PPSO_reports/index.html">Informacje</a></li>
            </ul>

            <h5 class="duik-sidebar__heading">Windows Server</h5>
            <ul class="duik-sidebar__nav">
                <li class="duik-sidebar__item"><a class="duik-sidebar__link" href="/PPSO_reports/conectingComputersToDomain.html">Przyłączenie komputerów do domeny</a></li>
                <li class="duik-sidebar__item"><a class="duik-sidebar__link" href="/1_3.html">Automatyzacja tworzenia kont użytkowników</a></li>
            </ul>
        </div>
    </div>
</nav>